<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>5E96EFD4-BDA9-4728-9E21-55349679CE65</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>k_RubElHizb</string>
		<string>k_Sajdah</string>
		<string>Hamza</string>
		<string>Alef</string>
		<string>AlefHamzaAbove</string>
		<string>AlefHamzaBelow</string>
		<string>AlefWavyHamzaAbove</string>
		<string>AlefWavyHamzaBelow</string>
		<string>AlefMadda</string>
		<string>AlefWasla</string>
		<string>Behx</string>
		<string>Beh</string>
		<string>Peh</string>
		<string>uni067B</string>
		<string>uni0680</string>
		<string>Teh</string>
		<string>uni067C</string>
		<string>uni067D</string>
		<string>Theh</string>
		<string>TehTahAbove</string>
		<string>uni067A</string>
		<string>uni067F</string>
		<string>Jeem</string>
		<string>Tcheh</string>
		<string>uni0687</string>
		<string>uni0683</string>
		<string>uni0684</string>
		<string>Hah</string>
		<string>uni0681</string>
		<string>uni0685</string>
		<string>Xah</string>
		<string>uni076E</string>
		<string>uni076F</string>
		<string>uni077C</string>
		<string>Dal</string>
		<string>Dhal</string>
		<string>DalTahAbove</string>
		<string>uni068C</string>
		<string>uni068D</string>
		<string>uni0689</string>
		<string>uni068A</string>
		<string>uni068B</string>
		<string>uni068E</string>
		<string>uni068F</string>
		<string>uni06EE</string>
		<string>uni0759</string>
		<string>Reh</string>
		<string>Zain</string>
		<string>RehTahAbove</string>
		<string>uni0693</string>
		<string>uni0696</string>
		<string>Zheh</string>
		<string>uni0699</string>
		<string>uni06EF</string>
		<string>uni076B</string>
		<string>uni076C</string>
		<string>uni0771</string>
		<string>Seen</string>
		<string>uni069A</string>
		<string>Sheen</string>
		<string>Sad</string>
		<string>uni069E</string>
		<string>Dad</string>
		<string>Tah</string>
		<string>Zah</string>
		<string>Ain</string>
		<string>Ghain</string>
		<string>Feh</string>
		<string>Veh</string>
		<string>Fehx</string>
		<string>uni06A6</string>
		<string>Qafx</string>
		<string>Qaf</string>
		<string>Kaf</string>
		<string>KafFarsi</string>
		<string>uni063B</string>
		<string>uni063C</string>
		<string>uni0763</string>
		<string>Gaf</string>
		<string>uni06B0</string>
		<string>uni06AB</string>
		<string>uni06B1</string>
		<string>uni06B3</string>
		<string>Lam</string>
		<string>uni06B7</string>
		<string>Meem</string>
		<string>Noon</string>
		<string>NoonGhunna</string>
		<string>uni06BB</string>
		<string>uni06BC</string>
		<string>Heh</string>
		<string>HehHamza</string>
		<string>HehUrdu</string>
		<string>HehHamzaUrdu</string>
		<string>HehDoachasmee</string>
		<string>uni06FF</string>
		<string>TehMarbuta</string>
		<string>TehMarbutaUrdu</string>
		<string>Waw</string>
		<string>uni06C4</string>
		<string>WawHamza</string>
		<string>uni0778</string>
		<string>uni0779</string>
		<string>AlefMaqsura</string>
		<string>uni0773</string>
		<string>uni0774</string>
		<string>Yeh</string>
		<string>YehHamza</string>
		<string>uni063D</string>
		<string>YehFarsi</string>
		<string>uni063E</string>
		<string>uni063F</string>
		<string>uni0775</string>
		<string>uni0776</string>
		<string>uni0777</string>
		<string>uni06CD</string>
		<string>YehKashmiri</string>
		<string>uni06D0</string>
		<string>YehBarree</string>
		<string>YehBarreeHamza</string>
		<string>uni077A</string>
		<string>uni077B</string>
		<string>uni06D5</string>
		<string>uni075C</string>
		<string>uni0767</string>
		<string>uni0768</string>
		<string>uni0769</string>
		<string>uni076A</string>
		<string>uni076D</string>
		<string>uni0770</string>
		<string>uni0772</string>
		<string>uni077D</string>
		<string>Tatweel</string>
		<string>Divine_nm</string>
		<string>Mhmd</string>
		<string>uniFDFA</string>
		<string>uniFDFB</string>
		<string>DecimalPointArabic</string>
		<string>ThousandMarkerArabic</string>
		<string>ZeroArabic</string>
		<string>OneArabic</string>
		<string>TwoArabic</string>
		<string>ThreeArabic</string>
		<string>FourArabic</string>
		<string>FiveArabic</string>
		<string>SixArabic</string>
		<string>SevenArabic</string>
		<string>EightArabic</string>
		<string>NineArabic</string>
		<string>ZeroFarsi</string>
		<string>OneFarsi</string>
		<string>TwoFarsi</string>
		<string>ThreeFarsi</string>
		<string>FourUrdu</string>
		<string>FiveFarsi</string>
		<string>SixUrdu</string>
		<string>SevenUrdu</string>
		<string>EightFarsi</string>
		<string>NineFarsi</string>
		<string>PeriodArabic</string>
		<string>ColonArabic</string>
		<string>periodcentered</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>DblGuillemetLeftArabic</string>
		<string>DblGuillemetRightArabic</string>
		<string>QuoteDblLeftArabic</string>
		<string>QuoteDblRightArabic</string>
		<string>QuoteSingleLeftArabic</string>
		<string>QuoteSingleRightArabic</string>
		<string>SglGuillemetLeftArabic</string>
		<string>SglGuillemetRightArabic</string>
		<string>uniFBC1</string>
		<string>uniFBB2</string>
		<string>OneDotBelow</string>
		<string>uniFBBD</string>
		<string>uniFBBE</string>
		<string>uniFBB4</string>
		<string>uniFBB5</string>
		<string>ThreeDotPunct</string>
		<string>uniFBB8</string>
		<string>uniFBB9</string>
		<string>uniFBB6</string>
		<string>uniFBB7</string>
		<string>uniFBBA</string>
		<string>uniFBBB</string>
		<string>uniFBBC</string>
		<string>uniFBBF</string>
		<string>PeriodUrdu</string>
		<string>CommaArabic</string>
		<string>SemicolonArabic</string>
		<string>QuestionmarkArabic</string>
		<string>NumberSign</string>
		<string>AsteriskArabic</string>
		<string>Sanah</string>
		<string>Footnote</string>
		<string>Safhah</string>
		<string>DateSeparatorArabic</string>
		<string>VerseSign</string>
		<string>Misra</string>
		<string>AyahEnd</string>
		<string>OrnateLeftParenthesis</string>
		<string>OrnateRightParenthesis</string>
		<string>ZWSP</string>
		<string>space</string>
		<string>NBspace</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni200E</string>
		<string>uni200F</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>null</string>
		<string>Afghani</string>
		<string>uniFDFC</string>
		<string>PlusArabic</string>
		<string>MinusArabic</string>
		<string>MultiplyArabic</string>
		<string>DivideArabic</string>
		<string>EqualArabic</string>
		<string>uni25CC</string>
		<string>uni007C</string>
		<string>PercentArabic</string>
		<string>PermilleArabic</string>
		<string>Per10milleArabic</string>
		<string>ALM</string>
		<string>Samvat</string>
		<string>uniFDFD</string>
		<string>ShortVwlNS</string>
		<string>RahmatullahNS</string>
		<string>RadiallahNS</string>
		<string>SallallahNS</string>
		<string>AlayhissalamNS</string>
		<string>TakhallusNS</string>
		<string>WavyHamzaBelowNS</string>
		<string>AlefSuperiorNS</string>
		<string>AlefInferiorNS</string>
		<string>HamzaAboveNS</string>
		<string>HamzaBelowNS</string>
		<string>FathatanNS</string>
		<string>DammatanNS</string>
		<string>KasratanNS</string>
		<string>FathaNS</string>
		<string>DammaNS</string>
		<string>KasraNS</string>
		<string>ShaddaNS</string>
		<string>SukunJazmNS</string>
		<string>MaddaNS</string>
		<string>NoonGhunnaMarkNS</string>
		<string>UltapeshNS</string>
		<string>ZwarakayNS</string>
		<string>DammaRevNS</string>
		<string>Fatha2dotsNS</string>
		<string>SukunZeroNS</string>
		<string>SukunHahNS</string>
		<string>uniFBC0</string>
		<string>OneDot</string>
		<string>TwoDots</string>
		<string>ThreeDotsUp</string>
		<string>ThreeDotsDown</string>
		<string>OneDotAboveNS</string>
		<string>TwoDotsAboveNS</string>
		<string>ThreeDotsUpAboveNS</string>
		<string>OneDotBelowNS</string>
		<string>TwoDotsBelowNS</string>
		<string>ThreeDotsDownBelowNS</string>
		<string>ThreeDotsDownAboveNS</string>
		<string>OneDotEnclNS</string>
		<string>OneDotEnclTNS</string>
		<string>ThreeDotsDownEnclNS</string>
		<string>ThreeDotsUpEnclNS</string>
		<string>TwoDotsEnclNS</string>
		<string>TwoDotsVertEnclNS</string>
		<string>FourDotsEnclNS</string>
		<string>TwoDotsVert</string>
		<string>TwoDotsVertAboveNS</string>
		<string>TwoDotsVertBelowNS</string>
		<string>FourDotsAboveNS</string>
		<string>FourDotsBelowNS</string>
		<string>FourDots</string>
		<string>Madda.shortNS</string>
		<string>Madda.shorterNS</string>
		<string>WaslaNS</string>
		<string>HamzaAboveAF_NS</string>
		<string>HamzaBelowAF_NS</string>
		<string>AlefSuperiorTallNS</string>
		<string>NoonGhunnaMarkKshmrNS</string>
		<string>SharetKafNS</string>
		<string>SharetYehPashtoNS</string>
		<string>Crossbar</string>
		<string>SukunNS</string>
		<string>TahSmallNS</string>
		<string>TahSmallBelowNS</string>
		<string>TahSmallEnclNS</string>
		<string>Tah2DotsEnclNS</string>
		<string>Tah2DotsBelowNS</string>
		<string>Tah2DotsAboveNS</string>
		<string>AlefInferiorYB</string>
		<string>HamzaBelowYB</string>
		<string>KasraYB</string>
		<string>KasratanYB</string>
		<string>OneDotBelowYB</string>
		<string>ThreeDotsDownBelowYB</string>
		<string>TwoDotsBelowYB</string>
		<string>HehCommaNS</string>
		<string>HehCommaAltNS</string>
		<string>HehCommaYB</string>
		<string>FourDotsBelowYB</string>
		<string>WavyHamzaBelowYB</string>
		<string>Small4UrduBelowYB</string>
		<string>TwoDotsVertBelowYB</string>
		<string>HamzaBelowAF_YB</string>
		<string>Tah2DotsBelowYB</string>
		<string>TahSmallBelowYB</string>
		<string>NullMk</string>
		<string>OneDotAboveAltNS</string>
		<string>TwoDotsAboveAltNS</string>
		<string>ThreeDotsUpAboveAltNS</string>
		<string>MaddaAltNS</string>
		<string>Madda.shortAltNS</string>
		<string>Madda.shorterAltNS</string>
		<string>WaslaAltNS</string>
		<string>HamzaAboveAltNS</string>
		<string>HamzaAboveAF_AltNS</string>
		<string>AlayhissalamAltNS</string>
		<string>AlefSuperiorAltNS</string>
		<string>DammaAltNS</string>
		<string>UltapeshAltNS</string>
		<string>DammatanAltNS</string>
		<string>FathaAltNS</string>
		<string>FathatanAltNS</string>
		<string>NoonGhunnaMarkAltNS</string>
		<string>RadiallahAltNS</string>
		<string>RahmatullahAltNS</string>
		<string>SallallahAltNS</string>
		<string>ShaddaAltNS</string>
		<string>Tah2DotsAboveAltNS</string>
		<string>SukunHahAltNS</string>
		<string>SukunJazmAltNS</string>
		<string>WavyHamzaAboveAltNS</string>
		<string>SukunAltNS</string>
		<string>SukunZeroAltNS</string>
		<string>TahSmallAltNS</string>
		<string>TakhallusAltNS</string>
		<string>OneDotBelowAltNS</string>
		<string>TwoDotsBelowAltNS</string>
		<string>ThreeDotsDownBelowAltNS</string>
		<string>HamzaBelowAltNS</string>
		<string>HamzaBelowAF_AltNS</string>
		<string>AlefInferiorAltNS</string>
		<string>KasraAltNS</string>
		<string>KasratanAltNS</string>
		<string>AlefSuperiorTallAltNS</string>
		<string>CircumArabicAltNS</string>
		<string>Fatha2dotsAltNS</string>
		<string>FourDotsAboveAltNS</string>
		<string>FourDotsBelowAltNS</string>
		<string>WavyHamzaBelowAltNS</string>
		<string>SevenSmallDotAltNS</string>
		<string>TahDotAboveAltNS</string>
		<string>ShortVwlAltNS</string>
		<string>Small2AboveAltNS</string>
		<string>Small3AboveAltNS</string>
		<string>Small4UrduAboveAltNS</string>
		<string>Small4UrduBelowAltNS</string>
		<string>TwoDotsVertAboveAltNS</string>
		<string>TwoDotsVertBelowAltNS</string>
		<string>Tah2DotsBelowAltNS</string>
		<string>ZwarakayAltNS</string>
		<string>ThreeDotsDownAboveAltNS</string>
		<string>DammaRevAltNS</string>
		<string>OneDotSmall</string>
		<string>OneDotSmallAbove</string>
		<string>OneDotSmallBelowNS</string>
		<string>FourFarsi</string>
		<string>SixFarsi</string>
		<string>ZeroFarsi_alt</string>
		<string>DecimalPointFarsi</string>
		<string>Divine_nm_p1</string>
		<string>AlefSep</string>
		<string>AlefFin</string>
		<string>BehxSep</string>
		<string>BehxFin</string>
		<string>NoonxSep</string>
		<string>NoonxFin</string>
		<string>HahSep</string>
		<string>DalSep</string>
		<string>DalFin</string>
		<string>RehSep</string>
		<string>SeenSep</string>
		<string>SeenFin</string>
		<string>SadSep</string>
		<string>TahSep</string>
		<string>AinSep</string>
		<string>AinFin</string>
		<string>FehxSep</string>
		<string>FehxFin</string>
		<string>QafxSep</string>
		<string>WawSep</string>
		<string>KafSep</string>
		<string>LamSep</string>
		<string>LamFin</string>
		<string>MeemSep</string>
		<string>YehBarreeSep</string>
		<string>YehBarreeFin</string>
		<string>YehBarreeFin_5</string>
		<string>YehBarreeFin_4</string>
		<string>YehBarreeFin_3</string>
		<string>BehxFin.soft</string>
		<string>SeenIni.r</string>
		<string>AlefFin.narrow</string>
		<string>SeenMed.SWinBoutT2</string>
		<string>SeenMed.SWinDoutT2</string>
		<string>SeenMed.SWinHoutT2</string>
		<string>SeenMed.SWinFFoutT2</string>
		<string>FehxIni.outD2</string>
		<string>FehxIni.outD2YB</string>
		<string>SeenFin.2</string>
		<string>SeenMed.SWinAoutT2</string>
		<string>LamSep.LA</string>
		<string>LamFin.LA</string>
		<string>LamIni.HRlow</string>
		<string>LamMed.HRlow</string>
		<string>LamIni.lowKN</string>
		<string>LamMed.lowKN</string>
		<string>YehxSep</string>
		<string>HehDoSep</string>
		<string>YehxFin</string>
		<string>HehDoIni</string>
		<string>HehFin</string>
		<string>HehSep</string>
		<string>AlefSep.LA</string>
		<string>MeemFin</string>
		<string>BehxIni</string>
		<string>BehxIni.A</string>
		<string>MeemIni.r</string>
		<string>FehxIni.outT2</string>
		<string>SeenMed.SWinFoutT2</string>
		<string>RehFin</string>
		<string>HahFin</string>
		<string>TahFin</string>
		<string>SadFin</string>
		<string>YehBarreeFin.2</string>
		<string>YehBarreeFin.2_5</string>
		<string>YehBarreeFin.2_4</string>
		<string>YehBarreeFin.2_3</string>
		<string>QafxFin</string>
		<string>WawFin</string>
		<string>SeenMed.r</string>
		<string>KafIni.k</string>
		<string>SeenMed.SWinCoutT2</string>
		<string>SeenMed.SWinGoutT2</string>
		<string>HehFin.wide</string>
		<string>BehxIni.outT2</string>
		<string>BehxIni.outT2B</string>
		<string>BehxIni.outT2K</string>
		<string>FehxIni</string>
		<string>TahMed.inD1outS1</string>
		<string>HehIni</string>
		<string>MeemIni</string>
		<string>BehxIni.outT2tall</string>
		<string>BehxIni.outT2N</string>
		<string>FehxIni.outT2N</string>
		<string>BehxIni.outT3</string>
		<string>FehxIni.outT3</string>
		<string>HamzaSep</string>
		<string>AinFin.2</string>
		<string>BehxIni.outT3F</string>
		<string>BehxIni.outS1</string>
		<string>FehxIni.outS1</string>
		<string>HehDoFin</string>
		<string>MeemIni.outD2</string>
		<string>MeemIni.outD2YB</string>
		<string>MeemIni.outD2Y</string>
		<string>FehxIni.outD2Y</string>
		<string>YehxFin.inD2alt</string>
		<string>BehxIni.outD2D</string>
		<string>BehxIni.outD2H</string>
		<string>BehxIni.outD2Y</string>
		<string>BehxIni.outD2WQ</string>
		<string>FehxIni.outD2WQ</string>
		<string>RehFin.inD4B</string>
		<string>BehxIni.outD2M</string>
		<string>HahIni.loop</string>
		<string>HehFin.postMeem</string>
		<string>MeemIni.outD2MMheel</string>
		<string>MeemMed.Heel</string>
		<string>BehxIni.outD2YB</string>
		<string>RehFin.inD3</string>
		<string>SadIni.r</string>
		<string>HehIni.r</string>
		<string>FehxIni.outD4</string>
		<string>BehxIni.outD5</string>
		<string>RehFin.postHeh</string>
		<string>RehFin.inD4</string>
		<string>HehSep.AF</string>
		<string>SeenIni.SWoutT2</string>
		<string>FehxIni.outD5</string>
		<string>MeemIni.outD5</string>
		<string>RehFin.inD3MM</string>
		<string>KafIni.HRlow</string>
		<string>KafIni.HRk</string>
		<string>GafIni.HRk</string>
		<string>TahIni.outT2</string>
		<string>HehIni.outD2H</string>
		<string>TahIni.outT3</string>
		<string>TahIni.outD2</string>
		<string>TahIni.outD2YB</string>
		<string>HahIni.outD3</string>
		<string>TahIni.outD3</string>
		<string>BehxIni.outD2MM</string>
		<string>FehxIni.outD2MM</string>
		<string>MeemIni.outD2MM</string>
		<string>MeemMed.inD2outD2Y</string>
		<string>HehMed.inD5outD2H</string>
		<string>TahIni</string>
		<string>WawFin.cut</string>
		<string>WawFin.inD2</string>
		<string>BehxMed.inT1outS1</string>
		<string>BehxMed.inT2outT1</string>
		<string>BehxMed.inT1outT3</string>
		<string>BehxMed.inT2outT2</string>
		<string>BehxMed.inT2outT2K</string>
		<string>HahIni</string>
		<string>SeenIni</string>
		<string>GafMed.V</string>
		<string>BehxMed.inT1outT2</string>
		<string>BehxMed.inT1outT2N</string>
		<string>BehxMed.inT2outS1</string>
		<string>BehxMed.inT1outT2wide</string>
		<string>BehxMed.inT1outT2SeenWide</string>
		<string>BehxMed.inT1outT2Nwide</string>
		<string>BehxMed.inT1outT2Seen</string>
		<string>BehxMed.inT1outSW</string>
		<string>BehxMed.inT1outSWwide</string>
		<string>BehxMed.inS1outS1</string>
		<string>BehxMed.inS1outS1obs</string>
		<string>BehxMed.inT2outD2WQ</string>
		<string>BehxMed.inT2outD2Y</string>
		<string>BehxMed.inT2outD2M</string>
		<string>WawFin.inD2alt</string>
		<string>QafxFin.cut</string>
		<string>QafxFin.inD2alt</string>
		<string>QafxFin.inD2</string>
		<string>BehxMed.inT2outD2YB</string>
		<string>BehxMed</string>
		<string>BehxMed.inT2outT3</string>
		<string>SeenIni.outD1</string>
		<string>TahIni.outD1</string>
		<string>FehxIni.outD1</string>
		<string>FehxIni.outD11</string>
		<string>BehxMed.inT2outD1</string>
		<string>BehxMed.inT2outD11</string>
		<string>BehxMed.inT2outD11wide</string>
		<string>SeenIni.outD2MM</string>
		<string>BehxMed.inT2outD2D</string>
		<string>BehxMed.inT2outD2MM</string>
		<string>BehxMed.inT2outD2H</string>
		<string>BehxMed.inT2outD2HS</string>
		<string>BehxMed.inT2outD2HF</string>
		<string>BehxMed.inT2outD2Hwide</string>
		<string>BehxMed.inT2outT1wide</string>
		<string>BehxMed.inT2outT1xwide</string>
		<string>SeenMed</string>
		<string>BehxMed.inT2outD5</string>
		<string>MeemMed</string>
		<string>AinMed.inT3outD2MM</string>
		<string>LamIni.outT2</string>
		<string>LamIni</string>
		<string>LamIni.outT3</string>
		<string>LamIni.outD2</string>
		<string>LamIni.outD2YB</string>
		<string>LamIni.outD11</string>
		<string>LamMed.outD11</string>
		<string>KafIni.outD2</string>
		<string>KafIni.outD2YB</string>
		<string>KafMed.k</string>
		<string>KafMed.V</string>
		<string>KafMed.Vlow</string>
		<string>KafIni.HRoutD2</string>
		<string>GafSep</string>
		<string>GafIni.HRoutD2</string>
		<string>GafIni.outD2</string>
		<string>GafIni.outD2YB</string>
		<string>GafMed.Vlow</string>
		<string>LamIni.outT2N</string>
		<string>LamIni.outS1</string>
		<string>LamIni.outD2Y</string>
		<string>LamIni.outD2H</string>
		<string>LamIni.outD1</string>
		<string>LamIni.outD5</string>
		<string>LamIni.outD2MM</string>
		<string>LamIni.low</string>
		<string>LamMed</string>
		<string>LamMed.outT2</string>
		<string>LamMed.outT3</string>
		<string>LamMed.outS1</string>
		<string>LamMed.outD1</string>
		<string>LamMed.outD2WQ</string>
		<string>LamMed.outD2MD</string>
		<string>LamMed.outD2H</string>
		<string>LamMed.outD2HYB</string>
		<string>LamMed.outD5</string>
		<string>LamMed.outD2MM</string>
		<string>LamMed.low</string>
		<string>LamMed.outD2Y</string>
		<string>LamMed.outD4</string>
		<string>GafMed.VoutD5</string>
		<string>GafMed.outS1</string>
		<string>SadIni.outT2</string>
		<string>HehDoMed</string>
		<string>MeemIni.outS1</string>
		<string>FehxMed</string>
		<string>TahIni.low</string>
		<string>GafMed.outT2</string>
		<string>SeenIni.outT2</string>
		<string>GafMed.outD11</string>
		<string>HehDoIni.outT2</string>
		<string>GafMed.outD2MM</string>
		<string>HehIni.outT2</string>
		<string>GafMed.outD2Y</string>
		<string>GafMed.outD4</string>
		<string>GafIni.HRlow</string>
		<string>GafMed.HRoutT3</string>
		<string>GafMed.HRoutD2MD</string>
		<string>GafMed.HRoutD2HYB</string>
		<string>MeemIni.outT2</string>
		<string>GafMed.HRoutD5</string>
		<string>MeemIni.outT3</string>
		<string>GafMed.VoutT2</string>
		<string>GafFin.HR</string>
		<string>GafMed.VoutD2HYB</string>
		<string>GafMed.HRk</string>
		<string>GafMed.VoutD2WQ</string>
		<string>SadIni</string>
		<string>GafMed.VoutD1</string>
		<string>HehDoMed.inD2outD3</string>
		<string>GafIni.HRoutT3</string>
		<string>TahMed.inD1outD5</string>
		<string>SadIni.outT3</string>
		<string>HehDoIni.outT2wide</string>
		<string>HehDoIni.outD2</string>
		<string>HehDoIni.outD2YB</string>
		<string>HahIni.outT2</string>
		<string>HehDoMed.inD2outS1</string>
		<string>FehxMed.inT3outD2</string>
		<string>SeenMed.inT2outD2M</string>
		<string>GafIni.outD5</string>
		<string>GafMed.low</string>
		<string>GafMed.HRlow</string>
		<string>HahIni.outT3</string>
		<string>GafMed.outD1</string>
		<string>GafMed.outD2WQ</string>
		<string>GafIni.HRoutD1</string>
		<string>GafMed.HRoutT2</string>
		<string>SeenIni.outT3</string>
		<string>GafMed.VoutT3</string>
		<string>GafMed.VoutD2MD</string>
		<string>GafMed.VoutD2Y</string>
		<string>HehIni.outT3</string>
		<string>GafFin</string>
		<string>GafFin.V</string>
		<string>GafIni.HRoutT2N</string>
		<string>HehDoIni.outT3</string>
		<string>SeenIni.outS1</string>
		<string>SadIni.outS1</string>
		<string>HehDoIni.outS1</string>
		<string>HahIni.outS1</string>
		<string>HehIni.outS1</string>
		<string>AinIni.outS1</string>
		<string>TahIni.outD2H</string>
		<string>TahIni.outD2M</string>
		<string>HahIni.outD2</string>
		<string>HahIni.outD2YB</string>
		<string>HahIni.outD2D</string>
		<string>HahIni.outD2H</string>
		<string>HahIni.outD2Y</string>
		<string>HehDoIni.outD2Y</string>
		<string>HehDoIni.outD3</string>
		<string>SadIni.outD2YB</string>
		<string>HehIni.outD2YB</string>
		<string>SeenIni.outD2YB</string>
		<string>HehDoMed.inD2outT3</string>
		<string>HehDoMed.inD2outD2</string>
		<string>HehDoMed.inD2outD2YB</string>
		<string>HehDoMed.inD2outD2Y</string>
		<string>HehDoMed.inD2outT2</string>
		<string>MeemIni.outT2B</string>
		<string>HahIni.outD4</string>
		<string>HehDoMed.inD2outD1</string>
		<string>BehxIni.outD1</string>
		<string>HahIni.outD1</string>
		<string>SadIni.outD1</string>
		<string>AinIni.outD1</string>
		<string>MeemIni.outD1</string>
		<string>HehIni.outD1</string>
		<string>HehDoIni.outD1</string>
		<string>BehxIni.outD11</string>
		<string>HahIni.outD11</string>
		<string>SeenIni.outD11</string>
		<string>SadIni.outD11</string>
		<string>AinIni.outD11</string>
		<string>MeemIni.outD11</string>
		<string>HehIni.outD11</string>
		<string>HehDoIni.outD11</string>
		<string>FehxMed.inT3outS1</string>
		<string>AinMed.inT3outS1</string>
		<string>FehxMed.inT3outT3</string>
		<string>AinMed</string>
		<string>FehxMed.inT3outT2</string>
		<string>AinMed.inT3outT2</string>
		<string>AinMed.inT3outT3</string>
		<string>AinMed.inT3outD3</string>
		<string>FehxMed.inT3outD3</string>
		<string>AinMed.inT3outD1</string>
		<string>FehxMed.inT3outD1</string>
		<string>FehxMed.inT3outD11</string>
		<string>AinMed.inT3outD11</string>
		<string>AinMed.inT3outD2Y</string>
		<string>FehxMed.inT3outD2Y</string>
		<string>AinMed.inT3outD2</string>
		<string>FehxMed.inT3outD2YB</string>
		<string>AinMed.inT3outD2YB</string>
		<string>AinIni.outT3WQ</string>
		<string>AinIni</string>
		<string>AinIni.outT2</string>
		<string>AinIni.outT3</string>
		<string>AinIni.tall</string>
		<string>AinIni.outD2</string>
		<string>AinIni.outD2YB</string>
		<string>AinIni.outD2long</string>
		<string>AinIni.outD3</string>
		<string>SeenIni.outD2M</string>
		<string>SadMed.r</string>
		<string>SeenIni.outD2H</string>
		<string>HehIniAF.outD2YB</string>
		<string>SeenIni.outD2D</string>
		<string>SeenIni.outD2Y</string>
		<string>SadIni.outD2H</string>
		<string>SadIni.outD2M</string>
		<string>HahMed.inD2outT2</string>
		<string>SadIni.outD2MM</string>
		<string>SadIni.outD2D</string>
		<string>HahMed</string>
		<string>SadIni.outD2Y</string>
		<string>SeenMed.inT2outT2</string>
		<string>HahMed.inD2outT3</string>
		<string>SeenMed.inT2outT3</string>
		<string>HahMed.inD2outD11</string>
		<string>SeenMed.inT2outS1</string>
		<string>HahMed.inD2outD2</string>
		<string>SeenMed.inT2outD1</string>
		<string>HahMed.inD2outD2Y</string>
		<string>SeenMed.inT2outD11</string>
		<string>HehIniAF.outD2MM</string>
		<string>SeenMed.inT2outD2H</string>
		<string>SadMed.inD1outD5</string>
		<string>SeenMed.inT2outD2MM</string>
		<string>HehMed.inD5outD1</string>
		<string>SeenMed.inT2outD2D</string>
		<string>SeenMed.inT2outD2Y</string>
		<string>TahIni.outD5</string>
		<string>SeenMed.inT2outD2YB</string>
		<string>AinMed.inT3outD5</string>
		<string>SadMed</string>
		<string>SadMed.inD1outT2</string>
		<string>SadMed.inD1outT3</string>
		<string>SadMed.inD1outS1</string>
		<string>SadMed.inD1outD1</string>
		<string>SadMed.inD1outD11</string>
		<string>SadMed.inD1outD2H</string>
		<string>SadMed.inD1outD2M</string>
		<string>SadMed.inD1outD2MM</string>
		<string>SadMed.inD1outD2D</string>
		<string>SadMed.inD1outD2Y</string>
		<string>SadMed.inD1outD2YB</string>
		<string>TahMed</string>
		<string>TahMed.inD1outT2</string>
		<string>TahMed.inD1outT3</string>
		<string>TahMed.inD1outD1</string>
		<string>TahMed.inD1outD11</string>
		<string>TahMed.inD1outD2</string>
		<string>TahMed.inD1outD2YB</string>
		<string>TahMed.inD1outD2H</string>
		<string>TahMed.inD1outD2M</string>
		<string>HahMed.inD2outD3</string>
		<string>TahMed.inD1outD3</string>
		<string>MeemMed.inD2outD2H</string>
		<string>HehIni.outD2M</string>
		<string>HehMed</string>
		<string>HahIni.outD5</string>
		<string>HehDoIni.outD5</string>
		<string>HehIniAF.outT3</string>
		<string>HahIni.outD2MM</string>
		<string>AinIni.outD2MM</string>
		<string>HehDoIni.outD2MM</string>
		<string>HehIni.outD2MM</string>
		<string>MeemMed.Heel2</string>
		<string>HehDoMed.inD2outD2MM</string>
		<string>FehxMed.inT3outD2MM</string>
		<string>HahMed.inD2outS1</string>
		<string>HahMed.inD2outD1</string>
		<string>HehDoMed.inD2outT2wide</string>
		<string>SeenMed.inT2outD5</string>
		<string>SeenMed.inT2outT2short</string>
		<string>SadIni.outD5</string>
		<string>SeenIni.outD5</string>
		<string>KafMed.HRlow</string>
		<string>HehMed.inD5outD11</string>
		<string>HehMed.inD5outD3R</string>
		<string>HehMed.inD5outT2</string>
		<string>HehMed.inD5outT3</string>
		<string>HehMed.inD5outS1</string>
		<string>HehMed.inD5outD2</string>
		<string>HehMed.inD5outD2Y</string>
		<string>HehMed.inD5outD2YB</string>
		<string>HehIni.outD5</string>
		<string>HehIni.outD2Y</string>
		<string>HahMed.inD2outD5</string>
		<string>AinIni.outD5</string>
		<string>FehxMed.inT3outD5</string>
		<string>HehDoMed.inD2outD5</string>
		<string>HehIniAF.outD5</string>
		<string>HehIniAF.outS1</string>
		<string>HehIniAF</string>
		<string>HehIniAF.outT2</string>
		<string>HehIniAF.outD3</string>
		<string>HehIniAF.outD1</string>
		<string>HehIniAF.outD11</string>
		<string>HehIniAF.outD2Y</string>
		<string>HehIniAF.outD2</string>
		<string>HehMedAF</string>
		<string>HehMed.inD5outD2MM</string>
		<string>HahIni.outT3short</string>
		<string>TahIni.outD2MM</string>
		<string>HehIni.outD2MMheel</string>
		<string>TahMed.inD1outD2MM</string>
		<string>HahMed.inD2outD2MM</string>
		<string>HehMed.inD5outD2MMheel</string>
		<string>HehDoMed.inD2outD11</string>
		<string>MeemMed.inD2outT2</string>
		<string>MeemMed.inD2outT3</string>
		<string>MeemMed.inD2outS1</string>
		<string>MeemMed.inD2outD1</string>
		<string>MeemMed.inD2outD11</string>
		<string>MeemMed.inD2outT2B</string>
		<string>MeemMed.inD2outD2MM</string>
		<string>MeemMed.inD2outD2</string>
		<string>MeemMed.inD2outD5</string>
		<string>MeemMed.inD2outD2YB</string>
		<string>MeemMed.inD2outD3</string>
		<string>TahIni.outD11</string>
		<string>TahIni.HRlow</string>
		<string>KafFin.HR</string>
		<string>KafMed.HR</string>
		<string>KafIni.HRoutD1</string>
		<string>KafIni.HRoutD5</string>
		<string>KafMed.HRoutT3</string>
		<string>KafMed.outD2Y</string>
		<string>KafMed.outD2MD</string>
		<string>BehxIni.outD4</string>
		<string>KafMed.outD4</string>
		<string>SeenIni.outT2short</string>
		<string>KafFin</string>
		<string>KafFin.V</string>
		<string>KafIni</string>
		<string>KafIni.outD2H</string>
		<string>KafIni.outT2</string>
		<string>KafIni.outT2N</string>
		<string>KafIni.outT3</string>
		<string>KafIni.outS1</string>
		<string>KafIni.outD2Y</string>
		<string>KafMed</string>
		<string>KafMed.outT2</string>
		<string>KafMed.outT3</string>
		<string>KafMed.outS1</string>
		<string>KafMed.outD1</string>
		<string>KafMed.outD11</string>
		<string>KafMed.outD2WQ</string>
		<string>KafIni.outD1</string>
		<string>KafIni.outD11</string>
		<string>KafMed.HRoutD1</string>
		<string>KafMed.HRoutD2MD</string>
		<string>KafMed.VoutD2HYB</string>
		<string>KafMed.outD2H</string>
		<string>KafMed.outD2HYB</string>
		<string>KafMed.outD5</string>
		<string>KafIni.outD2MM</string>
		<string>KafMed.outD2MM</string>
		<string>KafMed.low</string>
		<string>KafMed.HRoutT2</string>
		<string>KafMed.VoutD2MD</string>
		<string>KafIni.outD5</string>
		<string>KafIni.low</string>
		<string>KafMed.HRoutD2MM</string>
		<string>KafMed.HRoutD2HYB</string>
		<string>KafMed.HRoutD2WQ</string>
		<string>KafMed.HRoutD5</string>
		<string>KafMed.VoutT2</string>
		<string>KafMed.VoutT3</string>
		<string>KafMed.VoutS1</string>
		<string>KafMed.VoutD1</string>
		<string>KafMed.VoutD11</string>
		<string>KafMed.VoutD2MM</string>
		<string>KafMed.VoutD2Y</string>
		<string>KafMed.VoutD2WQ</string>
		<string>KafMed.VoutD4</string>
		<string>KafMed.VoutD5</string>
		<string>KafIni.HRoutD2H</string>
		<string>TahMed.low</string>
		<string>TahMed.HRlow</string>
		<string>KafMed.HRk</string>
		<string>KafIni.HRoutT2N</string>
		<string>KafIni.HRoutT3</string>
		<string>KafIni.HRoutT2</string>
		<string>GafIni.k</string>
		<string>GafMed.k</string>
		<string>GafIni</string>
		<string>GafIni.low</string>
		<string>GafIni.outT2</string>
		<string>GafIni.outT2N</string>
		<string>GafIni.outT3</string>
		<string>GafIni.outS1</string>
		<string>GafIni.outD1</string>
		<string>GafIni.outD11</string>
		<string>GafIni.outD2MM</string>
		<string>GafIni.outD2H</string>
		<string>GafIni.outD2Y</string>
		<string>GafMed</string>
		<string>GafMed.HR</string>
		<string>GafMed.outT3</string>
		<string>GafMed.outD2MD</string>
		<string>GafMed.outD2H</string>
		<string>GafMed.outD2HYB</string>
		<string>GafMed.outD5</string>
		<string>GafIni.HRoutD5</string>
		<string>GafMed.HRoutD1</string>
		<string>GafMed.HRoutD2MM</string>
		<string>GafMed.HRoutD2WQ</string>
		<string>GafMed.VoutS1</string>
		<string>GafMed.VoutD11</string>
		<string>GafMed.VoutD2MM</string>
		<string>GafMed.VoutD4</string>
		<string>GafIni.HRoutD2H</string>
		<string>GafIni.HRoutT2</string>
		<string>HehMed.inD5outD5</string>
		<string>AinIni.outD2D</string>
		<string>FehxIni.outD2D</string>
		<string>GafIni.outD2D</string>
		<string>HehDoIni.outD2D</string>
		<string>HehIniAF.outD2D</string>
		<string>KafIni.outD2D</string>
		<string>LamIni.outD2D</string>
		<string>MeemIni.outD2D</string>
		<string>TahIni.outD2D</string>
		<string>AinIni.outD2H</string>
		<string>FehxIni.outD2H</string>
		<string>HehDoIni.outD2H</string>
		<string>HehIniAF.outD2H</string>
		<string>MeemIni.outD2H</string>
		<string>HehIni.outD2D</string>
		<string>BehxMed.inT1</string>
		<string>BehxMed.inT2</string>
		<string>SeenMed.inT2</string>
		<string>AinMed.inT3</string>
		<string>FehxMed.inT3</string>
		<string>SadMed.inD1</string>
		<string>TahMed.inD1</string>
		<string>HahMed.inD2</string>
		<string>HehDoMed.inD2</string>
		<string>MeemMed.inD2</string>
		<string>HehMed.inD5</string>
		<string>AinMed.inT3outT1</string>
		<string>FehxMed.inT3outT1</string>
		<string>SadMed.inD1outT1</string>
		<string>TahMed.inD1outT1</string>
		<string>HahMed.inD2outT1</string>
		<string>MeemMed.inD2outT1</string>
		<string>HehMed.inD5outT1</string>
		<string>HehDoMed.inD2outT1</string>
		<string>SeenMed.inT2outT1</string>
		<string>AinMed.inT3outD2D</string>
		<string>FehxMed.inT3outD2D</string>
		<string>HahMed.inD2outD2D</string>
		<string>HehDoMed.inD2outD2D</string>
		<string>HehMed.inD5outD2D</string>
		<string>MeemMed.inD2outD2D</string>
		<string>TahMed.inD1outD2D</string>
		<string>AinMed.inT3outD2H</string>
		<string>FehxMed.inT3outD2H</string>
		<string>FehxMed.inT3outD2Hwide</string>
		<string>HahMed.inD2outD2H</string>
		<string>HahMed.inD2outD2YB</string>
		<string>HehDoMed.inD2outD2H</string>
		<string>BehxMed.inT1outT1</string>
		<string>BehxMed.inT1outD2WQ</string>
		<string>BehxMed.inT1outD1</string>
		<string>YehKashmiriFin</string>
		<string>YehKashmiriFin.inD2alt</string>
		<string>YehKashmiriSep</string>
		<string>BehxMed.inT1outD11</string>
		<string>GbarV2</string>
		<string>TatweelNS</string>
		<string>ybMk</string>
		<string>sp0</string>
		<string>sp1</string>
		<string>sp2</string>
		<string>sp3</string>
		<string>sp4</string>
		<string>sp5</string>
		<string>sp6</string>
		<string>sp7</string>
		<string>sp8</string>
		<string>sp9</string>
		<string>sp10</string>
		<string>sp11</string>
		<string>sp12</string>
		<string>sp13</string>
		<string>sp14</string>
		<string>sp15</string>
		<string>YBc1</string>
		<string>YBc2</string>
		<string>YBc3</string>
		<string>ybPre</string>
		<string>baseNum</string>
		<string>NumberSign.alt2</string>
		<string>NumberSign.alt3</string>
		<string>NumberSign.alt</string>
		<string>Sanah.alt2</string>
		<string>Sanah.alt3</string>
		<string>Sanah.alt4</string>
		<string>Sanah.alt</string>
		<string>Footnote.alt2</string>
		<string>Footnote.alt3</string>
		<string>Footnote.alt</string>
		<string>Safhah.alt2</string>
		<string>Safhah.alt3</string>
		<string>Safhah.alt</string>
		<string>Samvat.alt2</string>
		<string>Samvat.alt3</string>
		<string>Samvat.alt4</string>
		<string>Samvat.alt</string>
		<string>AyahEnd.alt2</string>
		<string>AyahEnd.alt3</string>
		<string>ZeroArabic.small</string>
		<string>OneArabic.small</string>
		<string>TwoArabic.small</string>
		<string>ThreeArabic.small</string>
		<string>FourArabic.small</string>
		<string>FiveArabic.small</string>
		<string>SixArabic.small</string>
		<string>SevenArabic.small</string>
		<string>EightArabic.small</string>
		<string>NineArabic.small</string>
		<string>FourFarsi.small</string>
		<string>FiveFarsi.small</string>
		<string>SixFarsi.small</string>
		<string>FourUrdu.small</string>
		<string>SevenUrdu.small</string>
		<string>ZeroFarsi_alt.small</string>
		<string>ZeroArabic.encl</string>
		<string>OneArabic.encl</string>
		<string>TwoArabic.encl</string>
		<string>ThreeArabic.encl</string>
		<string>FourArabic.encl</string>
		<string>FiveArabic.encl</string>
		<string>SixArabic.encl</string>
		<string>SevenArabic.encl</string>
		<string>EightArabic.encl</string>
		<string>NineArabic.encl</string>
		<string>FourFarsi.encl</string>
		<string>FiveFarsi.encl</string>
		<string>SixFarsi.encl</string>
		<string>FourUrdu.encl</string>
		<string>SevenUrdu.encl</string>
		<string>ZeroFarsi_alt.encl</string>
		<string>SevenFarsi</string>
		<string>TwoDotsAboveKNS</string>
		<string>ThreeDotsAboveKNS</string>
		<string>WavyHamzaAboveNS</string>
		<string>Small2AboveNS</string>
		<string>Small3AboveNS</string>
		<string>Small4UrduAboveNS</string>
		<string>Small4UrduEnclNS</string>
		<string>Small4UrduBelowNS</string>
		<string>RingNS</string>
		<string>CircumArabicNS</string>
		<string>SevenSmallDotNS</string>
		<string>TahDotAboveNS</string>
		<string>TwoDotsV</string>
		<string>KafIni.N</string>
		<string>KafIni.NoutT2</string>
		<string>KafIni.NoutT3</string>
		<string>KafIni.NoutD1</string>
		<string>KafIni.NoutD11</string>
		<string>KafIni.NoutD2</string>
		<string>KafIni.NoutD2H</string>
		<string>KafIni.NoutD2MM</string>
		<string>KafMed.N</string>
		<string>KafMed.NoutT2</string>
		<string>KafMed.NoutT3</string>
		<string>KafMed.NoutD1</string>
		<string>KafMed.NoutD11</string>
		<string>KafMed.NoutD2MD</string>
		<string>KafMed.NoutD2HYB</string>
		<string>KafMed.NoutD2MM</string>
		<string>GafIni.N</string>
		<string>GafIni.NoutT2</string>
		<string>GafIni.NoutT3</string>
		<string>GafIni.NoutD1</string>
		<string>GafIni.NoutD11</string>
		<string>GafIni.NoutD2</string>
		<string>GafIni.NoutD2H</string>
		<string>GafIni.NoutD2MM</string>
		<string>GafMed.N</string>
		<string>GafMed.NoutT2</string>
		<string>GafMed.NoutT3</string>
		<string>GafMed.NoutD1</string>
		<string>GafMed.NoutD11</string>
		<string>GafMed.NoutD2MD</string>
		<string>GafMed.NoutD2HYB</string>
		<string>GafMed.NoutD2MM</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>ALM</key>
		<string>uni061C</string>
		<key>Afghani</key>
		<string>uni060B</string>
		<key>Ain</key>
		<string>uni0639</string>
		<key>AlayhissalamNS</key>
		<string>uni0611</string>
		<key>Alef</key>
		<string>uni0627</string>
		<key>AlefHamzaAbove</key>
		<string>uni0623</string>
		<key>AlefHamzaBelow</key>
		<string>uni0625</string>
		<key>AlefInferiorNS</key>
		<string>uni0656</string>
		<key>AlefMadda</key>
		<string>uni0622</string>
		<key>AlefMaqsura</key>
		<string>uni0649</string>
		<key>AlefSuperiorNS</key>
		<string>uni0670</string>
		<key>AlefWasla</key>
		<string>uni0671</string>
		<key>AlefWavyHamzaAbove</key>
		<string>uni0672</string>
		<key>AlefWavyHamzaBelow</key>
		<string>uni0673</string>
		<key>AsteriskArabic</key>
		<string>uni066D</string>
		<key>AyahEnd</key>
		<string>uni06DD</string>
		<key>AyahEnd.alt2</key>
		<string>uni06DD.alt2</string>
		<key>AyahEnd.alt3</key>
		<string>uni06DD.alt3</string>
		<key>Beh</key>
		<string>uni0628</string>
		<key>Behx</key>
		<string>uni066E</string>
		<key>CommaArabic</key>
		<string>uni060C</string>
		<key>Dad</key>
		<string>uni0636</string>
		<key>Dal</key>
		<string>uni062F</string>
		<key>DalTahAbove</key>
		<string>uni0688</string>
		<key>DammaNS</key>
		<string>uni064F</string>
		<key>DammaRevNS</key>
		<string>uni065D</string>
		<key>DammatanNS</key>
		<string>uni064C</string>
		<key>DateSeparatorArabic</key>
		<string>uni060D</string>
		<key>DblGuillemetLeftArabic</key>
		<string>guillemotleft</string>
		<key>DblGuillemetRightArabic</key>
		<string>guillemotright</string>
		<key>DecimalPointArabic</key>
		<string>uni066B</string>
		<key>Dhal</key>
		<string>uni0630</string>
		<key>Divine_nm</key>
		<string>uniFDF2</string>
		<key>EightArabic</key>
		<string>uni0668</string>
		<key>EightArabic.encl</key>
		<string>uni0668.encl</string>
		<key>EightArabic.small</key>
		<string>uni0668.small</string>
		<key>EightFarsi</key>
		<string>uni06F8</string>
		<key>Fatha2dotsNS</key>
		<string>uni065E</string>
		<key>FathaNS</key>
		<string>uni064E</string>
		<key>FathatanNS</key>
		<string>uni064B</string>
		<key>Feh</key>
		<string>uni0641</string>
		<key>Fehx</key>
		<string>uni06A1</string>
		<key>FiveArabic</key>
		<string>uni0665</string>
		<key>FiveArabic.encl</key>
		<string>uni0665.encl</string>
		<key>FiveArabic.small</key>
		<string>uni0665.small</string>
		<key>FiveFarsi</key>
		<string>uni06F5</string>
		<key>FiveFarsi.encl</key>
		<string>uni06F5.encl</string>
		<key>FiveFarsi.small</key>
		<string>uni06F5.small</string>
		<key>Footnote</key>
		<string>uni0602</string>
		<key>Footnote.alt</key>
		<string>uni0602.alt</string>
		<key>Footnote.alt2</key>
		<string>uni0602.alt2</string>
		<key>Footnote.alt3</key>
		<string>uni0602.alt3</string>
		<key>FourArabic</key>
		<string>uni0664</string>
		<key>FourArabic.encl</key>
		<string>uni0664.encl</string>
		<key>FourArabic.small</key>
		<string>uni0664.small</string>
		<key>FourUrdu</key>
		<string>uni06F4</string>
		<key>FourUrdu.encl</key>
		<string>uni06F4.encl</string>
		<key>FourUrdu.small</key>
		<string>uni06F4.small</string>
		<key>Gaf</key>
		<string>uni06AF</string>
		<key>Ghain</key>
		<string>uni063A</string>
		<key>Hah</key>
		<string>uni062D</string>
		<key>Hamza</key>
		<string>uni0621</string>
		<key>HamzaAboveNS</key>
		<string>uni0654</string>
		<key>HamzaBelowNS</key>
		<string>uni0655</string>
		<key>Heh</key>
		<string>uni0647</string>
		<key>HehDoachasmee</key>
		<string>uni06BE</string>
		<key>HehHamza</key>
		<string>uni06C0</string>
		<key>HehHamzaUrdu</key>
		<string>uni06C2</string>
		<key>HehUrdu</key>
		<string>uni06C1</string>
		<key>Jeem</key>
		<string>uni062C</string>
		<key>Kaf</key>
		<string>uni0643</string>
		<key>KafFarsi</key>
		<string>uni06A9</string>
		<key>KasraNS</key>
		<string>uni0650</string>
		<key>KasratanNS</key>
		<string>uni064D</string>
		<key>Lam</key>
		<string>uni0644</string>
		<key>MaddaNS</key>
		<string>uni0653</string>
		<key>Meem</key>
		<string>uni0645</string>
		<key>Mhmd</key>
		<string>uniFDF4</string>
		<key>Misra</key>
		<string>uni060F</string>
		<key>NBspace</key>
		<string>uni00A0</string>
		<key>NineArabic</key>
		<string>uni0669</string>
		<key>NineArabic.encl</key>
		<string>uni0669.encl</string>
		<key>NineArabic.small</key>
		<string>uni0669.small</string>
		<key>NineFarsi</key>
		<string>uni06F9</string>
		<key>Noon</key>
		<string>uni0646</string>
		<key>NoonGhunna</key>
		<string>uni06BA</string>
		<key>NoonGhunnaMarkNS</key>
		<string>uni0658</string>
		<key>NumberSign</key>
		<string>uni0600</string>
		<key>NumberSign.alt</key>
		<string>uni0600.alt</string>
		<key>NumberSign.alt2</key>
		<string>uni0600.alt2</string>
		<key>NumberSign.alt3</key>
		<string>uni0600.alt3</string>
		<key>OneArabic</key>
		<string>uni0661</string>
		<key>OneArabic.encl</key>
		<string>uni0661.encl</string>
		<key>OneArabic.small</key>
		<string>uni0661.small</string>
		<key>OneDotBelow</key>
		<string>uniFBB3</string>
		<key>OneFarsi</key>
		<string>uni06F1</string>
		<key>OrnateLeftParenthesis</key>
		<string>uniFD3E</string>
		<key>OrnateRightParenthesis</key>
		<string>uniFD3F</string>
		<key>Peh</key>
		<string>uni067E</string>
		<key>Per10milleArabic</key>
		<string>uni060A</string>
		<key>PercentArabic</key>
		<string>uni066A</string>
		<key>PeriodUrdu</key>
		<string>uni06D4</string>
		<key>PermilleArabic</key>
		<string>uni0609</string>
		<key>Qaf</key>
		<string>uni0642</string>
		<key>Qafx</key>
		<string>uni066F</string>
		<key>QuestionmarkArabic</key>
		<string>uni061F</string>
		<key>RadiallahNS</key>
		<string>uni0613</string>
		<key>RahmatullahNS</key>
		<string>uni0612</string>
		<key>Reh</key>
		<string>uni0631</string>
		<key>RehTahAbove</key>
		<string>uni0691</string>
		<key>Sad</key>
		<string>uni0635</string>
		<key>Safhah</key>
		<string>uni0603</string>
		<key>Safhah.alt</key>
		<string>uni0603.alt</string>
		<key>Safhah.alt2</key>
		<string>uni0603.alt2</string>
		<key>Safhah.alt3</key>
		<string>uni0603.alt3</string>
		<key>SallallahNS</key>
		<string>uni0610</string>
		<key>Samvat</key>
		<string>uni0604</string>
		<key>Samvat.alt</key>
		<string>uni0604.alt</string>
		<key>Samvat.alt2</key>
		<string>uni0604.alt2</string>
		<key>Samvat.alt3</key>
		<string>uni0604.alt3</string>
		<key>Samvat.alt4</key>
		<string>uni0604.alt4</string>
		<key>Sanah</key>
		<string>uni0601</string>
		<key>Sanah.alt</key>
		<string>uni0601.alt</string>
		<key>Sanah.alt2</key>
		<string>uni0601.alt2</string>
		<key>Sanah.alt3</key>
		<string>uni0601.alt3</string>
		<key>Sanah.alt4</key>
		<string>uni0601.alt4</string>
		<key>Seen</key>
		<string>uni0633</string>
		<key>SemicolonArabic</key>
		<string>uni061B</string>
		<key>SevenArabic</key>
		<string>uni0667</string>
		<key>SevenArabic.encl</key>
		<string>uni0667.encl</string>
		<key>SevenArabic.small</key>
		<string>uni0667.small</string>
		<key>SevenUrdu</key>
		<string>uni06F7</string>
		<key>SevenUrdu.encl</key>
		<string>uni06F7.encl</string>
		<key>SevenUrdu.small</key>
		<string>uni06F7.small</string>
		<key>ShaddaNS</key>
		<string>uni0651</string>
		<key>Sheen</key>
		<string>uni0634</string>
		<key>ShortVwlNS</key>
		<string>uni08FF</string>
		<key>SixArabic</key>
		<string>uni0666</string>
		<key>SixArabic.encl</key>
		<string>uni0666.encl</string>
		<key>SixArabic.small</key>
		<string>uni0666.small</string>
		<key>SixUrdu</key>
		<string>uni06F6</string>
		<key>SukunHahNS</key>
		<string>uni06E1</string>
		<key>SukunJazmNS</key>
		<string>uni0652</string>
		<key>SukunZeroNS</key>
		<string>uni06E0</string>
		<key>Tah</key>
		<string>uni0637</string>
		<key>TakhallusNS</key>
		<string>uni0614</string>
		<key>Tatweel</key>
		<string>uni0640</string>
		<key>Tcheh</key>
		<string>uni0686</string>
		<key>Teh</key>
		<string>uni062A</string>
		<key>TehMarbuta</key>
		<string>uni0629</string>
		<key>TehMarbutaUrdu</key>
		<string>uni06C3</string>
		<key>TehTahAbove</key>
		<string>uni0679</string>
		<key>Theh</key>
		<string>uni062B</string>
		<key>ThousandMarkerArabic</key>
		<string>uni066C</string>
		<key>ThreeArabic</key>
		<string>uni0663</string>
		<key>ThreeArabic.encl</key>
		<string>uni0663.encl</string>
		<key>ThreeArabic.small</key>
		<string>uni0663.small</string>
		<key>ThreeDotPunct</key>
		<string>uni061E</string>
		<key>ThreeFarsi</key>
		<string>uni06F3</string>
		<key>TwoArabic</key>
		<string>uni0662</string>
		<key>TwoArabic.encl</key>
		<string>uni0662.encl</string>
		<key>TwoArabic.small</key>
		<string>uni0662.small</string>
		<key>TwoFarsi</key>
		<string>uni06F2</string>
		<key>UltapeshNS</key>
		<string>uni0657</string>
		<key>Veh</key>
		<string>uni06A4</string>
		<key>VerseSign</key>
		<string>uni060E</string>
		<key>WavyHamzaBelowNS</key>
		<string>uni065F</string>
		<key>Waw</key>
		<string>uni0648</string>
		<key>WawHamza</key>
		<string>uni0624</string>
		<key>Xah</key>
		<string>uni062E</string>
		<key>Yeh</key>
		<string>uni064A</string>
		<key>YehBarree</key>
		<string>uni06D2</string>
		<key>YehBarreeHamza</key>
		<string>uni06D3</string>
		<key>YehFarsi</key>
		<string>uni06CC</string>
		<key>YehHamza</key>
		<string>uni0626</string>
		<key>YehKashmiri</key>
		<string>uni0620</string>
		<key>ZWSP</key>
		<string>uni200B</string>
		<key>Zah</key>
		<string>uni0638</string>
		<key>Zain</key>
		<string>uni0632</string>
		<key>ZeroArabic</key>
		<string>uni0660</string>
		<key>ZeroArabic.encl</key>
		<string>uni0660.encl</string>
		<key>ZeroArabic.small</key>
		<string>uni0660.small</string>
		<key>ZeroFarsi</key>
		<string>uni06F0</string>
		<key>Zheh</key>
		<string>uni0698</string>
		<key>ZwarakayNS</key>
		<string>uni0659</string>
		<key>null</key>
		<string>uniFEFF</string>
	</dict>
</dict>
</plist>
